{% extends 'base.html' %}
{% load static %}

{% block content %}
    <table class="table good-table" style="width: 50%; margin: 50px">
      <thead>
        <tr>
          <th scope="col">Название</th>
          <th scope="col">Дата поступления</th>
          <th scope="col">Цена</th>
          <th scope="col">Единица измерения</th>
          <th scope="col">Имя поставщика</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
            <tr>
              <th scope="col">{{ object.title }}</th>
              <th scope="col">{{ object.created_date }}</th>
              <th scope="col">{{ object.price }}</th>
              <th scope="col">{{ object.measure }}</th>
              <th scope="col">{{ object.vendor }}</th>
            </tr>
        {% endfor %}
      </tbody>
    </table>
{#    <a href="{% url 'mainapp:add-good' %}">#}
        <button type="button" class="js-create-good btn-danger" data-url="{% url 'mainapp:add-good' %}" style="margin: 0 50px">Добавить товар</button>
{#    </a>#}

    <div class="modal fade" id="modal-good">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/dynamic_update.js' %}"></script>
{% endblock %}.
